.pagination-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}

.pagination-list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 3;
}
.pagination-list .pagination-item {
  list-style: none;
  padding: 0;
  margin: 0;
}
.pagination-list .pagination-item.is-active div {
  color: blue;
  cursor: not-allowed;
}
.pagination-list .pagination-item div {
  text-decoration: none;
  color: #000;
  transition: color 0.3s ease-in-out;
  padding: 0.5rem;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.pagination-list .pagination-item div:hover {
  color: blue;
}

.pagination-list .pagination-item.disabled div {
  color: #888;
  cursor: not-allowed;
}

.pagination-wrapper input {
  height: 100%;
  max-width: 4rem;
  padding: 0.375rem 0 0.375rem 0.75rem;
}

select {
  display: block;
  max-width: 10rem;
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M2 5l6 6 6-6'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 16px 12px;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  appearance: none;
}

.pagination-wrapper > * {
  margin: 1rem 2rem;
}
