.app {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-weight: bold;
  font-size: 2em;
  border-bottom: 2px solid black;
}
.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
